.seccion-producto {
  margin:20px;
  text-align: center;
}

.contenedor-img{
  background-color: rgb(188, 193, 193);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  width: 30%;
  display: inline-block;
}

.contenedor-img img{
  width: 100%;
  max-height: 600px;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgb(92, 2, 2);
}