
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.header {
  background-image: url(../../assets/img/black.jpg); 
 background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000; 
}

h2{
  margin-left: 50px;
  
}
.registro ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 50px;
}

.registro ul li {
  margin-right: 10px;
  padding-right: 20px; 
  position: relative; 
}

.registro ul li:last-child {
  margin-right: 0;
  padding-right: 0; 
}

.registro ul li a {
  color: white; 
  text-decoration: none; 
  font-family: 'Roboto', sans-serif; 
}

.registro ul li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px; 
  
}

.registro ul li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px; 
  background-color: rgb(242, 238, 238); 
}
