.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slider img {
  max-width: 100%;
  max-height: 300px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Para ajustar la imagen dentro del contenedor */
  margin: 0 10px; /* Espacio entre las imágenes */
}

.slider button {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 5px 10px; /* Espaciado interno del botón */
  margin: 0 5px; /* Espacio entre los botones y las imágenes */
  cursor: pointer;
}

.slider button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}